[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "sre"
url = "$SRE_PACKAGE_FEED"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-azurepipelines = "*"

[packages]
marshmallow = "*"
sremail = {editable = true,path = "."}
aiosmtplib = "*"
